name: Docker Build Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  IMAGE_NAME: alonza0314/free-ran-ue
  IMAGE_TAG: latest

jobs:
  docker-build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          make

      - name: Test Docker image
        run: |
          docker images
          docker run --rm ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} ls /free-ran-ue/free-ran-ue
          docker run --rm ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} ls /free-ran-ue/console